#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
    border: 2px solid; width: fit-content; background-color: antiquewhite; margin-left: 40%; 
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: whitesmoke;
    background-color: rgb(178, 223, 243);
    border-radius: 15%;
    cursor: pointer;
    transition: background-color 0.50s;
}

.buttons:hover {
    background-color: blue;
}